SpyClientLibrary/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SpyWcfService.Messages" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SpyWcfService" />
  <xs:element name="SaveScreenShotToDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpyWcfService.Messages" minOccurs="0" name="request" nillable="true" type="q1:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScreenShotToDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveScreenShotToDBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreenFromDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreenFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetScreenFromDBResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagesGroupFromDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagesGroupFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="GetPagesGroupFromDBResult" nillable="true" type="q2:ArrayOfAcceptablePagesGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceptablePageFromDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceptablePageFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="GetAcceptablePageFromDBResult" nillable="true" type="q3:ArrayOfAcceptablePage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceptablePageForGroupFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceptablePageForGroupFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="GetAcceptablePageForGroupFromDBResult" nillable="true" type="q4:ArrayOfAcceptablePage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>