SpyClientConsole/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SpyWcfService.Messages" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SpyWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientService_SaveScreenShotToDB_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveScreenShotToDB" />
  </wsdl:message>
  <wsdl:message name="IClientService_SaveScreenShotToDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveScreenShotToDBResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetScreenFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScreenFromDB" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetScreenFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScreenFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetScreenByIdFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScreenByIdFromDB" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetScreenByIdFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScreenByIdFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetScreenCountFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScreenCountFromDB" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetScreenCountFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScreenCountFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetPagesGroupFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPagesGroupFromDB" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetPagesGroupFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPagesGroupFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetAcceptablePageFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAcceptablePageFromDB" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetAcceptablePageFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAcceptablePageFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetAcceptablePageForGroupFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAcceptablePageForGroupFromDB" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetAcceptablePageForGroupFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAcceptablePageForGroupFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetWorkstationsGroupFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkstationsGroupFromDB" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetWorkstationsGroupFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkstationsGroupFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetWorkstationsFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkstationsFromDB" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetWorkstationsFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkstationsFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetWorkstationsForGroupFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkstationsForGroupFromDB" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetWorkstationsForGroupFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkstationsForGroupFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddAcceptablePage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAcceptablePage" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddAcceptablePage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAcceptablePageResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddAcceptablePageForGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAcceptablePageForGroup" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddAcceptablePageForGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAcceptablePageForGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_DeletePagesGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePagesGroup" />
  </wsdl:message>
  <wsdl:message name="IClientService_DeletePagesGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePagesGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_DeleteAcceptablePage_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAcceptablePage" />
  </wsdl:message>
  <wsdl:message name="IClientService_DeleteAcceptablePage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAcceptablePageResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_DeleteAcceptablePageForGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAcceptablePageForGroup" />
  </wsdl:message>
  <wsdl:message name="IClientService_DeleteAcceptablePageForGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAcceptablePageForGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientService">
    <wsdl:operation name="SaveScreenShotToDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/SaveScreenShotToDB" message="tns:IClientService_SaveScreenShotToDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/SaveScreenShotToDBResponse" message="tns:IClientService_SaveScreenShotToDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScreenFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetScreenFromDB" message="tns:IClientService_GetScreenFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetScreenFromDBResponse" message="tns:IClientService_GetScreenFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScreenByIdFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetScreenByIdFromDB" message="tns:IClientService_GetScreenByIdFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetScreenByIdFromDBResponse" message="tns:IClientService_GetScreenByIdFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScreenCountFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetScreenCountFromDB" message="tns:IClientService_GetScreenCountFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetScreenCountFromDBResponse" message="tns:IClientService_GetScreenCountFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPagesGroupFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetPagesGroupFromDB" message="tns:IClientService_GetPagesGroupFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetPagesGroupFromDBResponse" message="tns:IClientService_GetPagesGroupFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAcceptablePageFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetAcceptablePageFromDB" message="tns:IClientService_GetAcceptablePageFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetAcceptablePageFromDBResponse" message="tns:IClientService_GetAcceptablePageFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAcceptablePageForGroupFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetAcceptablePageForGroupFromDB" message="tns:IClientService_GetAcceptablePageForGroupFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetAcceptablePageForGroupFromDBResponse" message="tns:IClientService_GetAcceptablePageForGroupFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkstationsGroupFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetWorkstationsGroupFromDB" message="tns:IClientService_GetWorkstationsGroupFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetWorkstationsGroupFromDBResponse" message="tns:IClientService_GetWorkstationsGroupFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkstationsFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetWorkstationsFromDB" message="tns:IClientService_GetWorkstationsFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetWorkstationsFromDBResponse" message="tns:IClientService_GetWorkstationsFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkstationsForGroupFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetWorkstationsForGroupFromDB" message="tns:IClientService_GetWorkstationsForGroupFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetWorkstationsForGroupFromDBResponse" message="tns:IClientService_GetWorkstationsForGroupFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAcceptablePage">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/AddAcceptablePage" message="tns:IClientService_AddAcceptablePage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/AddAcceptablePageResponse" message="tns:IClientService_AddAcceptablePage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAcceptablePageForGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/AddAcceptablePageForGroup" message="tns:IClientService_AddAcceptablePageForGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/AddAcceptablePageForGroupResponse" message="tns:IClientService_AddAcceptablePageForGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePagesGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/DeletePagesGroup" message="tns:IClientService_DeletePagesGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/DeletePagesGroupResponse" message="tns:IClientService_DeletePagesGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAcceptablePage">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/DeleteAcceptablePage" message="tns:IClientService_DeleteAcceptablePage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/DeleteAcceptablePageResponse" message="tns:IClientService_DeleteAcceptablePage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAcceptablePageForGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/DeleteAcceptablePageForGroup" message="tns:IClientService_DeleteAcceptablePageForGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/DeleteAcceptablePageForGroupResponse" message="tns:IClientService_DeleteAcceptablePageForGroup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientService" type="tns:IClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveScreenShotToDB">
      <soap:operation soapAction="http://tempuri.org/IClientService/SaveScreenShotToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScreenFromDB">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetScreenFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScreenByIdFromDB">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetScreenByIdFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScreenCountFromDB">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetScreenCountFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPagesGroupFromDB">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetPagesGroupFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcceptablePageFromDB">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetAcceptablePageFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcceptablePageForGroupFromDB">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetAcceptablePageForGroupFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkstationsGroupFromDB">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetWorkstationsGroupFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkstationsFromDB">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetWorkstationsFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkstationsForGroupFromDB">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetWorkstationsForGroupFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAcceptablePage">
      <soap:operation soapAction="http://tempuri.org/IClientService/AddAcceptablePage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAcceptablePageForGroup">
      <soap:operation soapAction="http://tempuri.org/IClientService/AddAcceptablePageForGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePagesGroup">
      <soap:operation soapAction="http://tempuri.org/IClientService/DeletePagesGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAcceptablePage">
      <soap:operation soapAction="http://tempuri.org/IClientService/DeleteAcceptablePage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAcceptablePageForGroup">
      <soap:operation soapAction="http://tempuri.org/IClientService/DeleteAcceptablePageForGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainClientService">
    <wsdl:port name="BasicHttpBinding_IClientService" binding="tns:BasicHttpBinding_IClientService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SpyWcfService/MainClientService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>