SpyAdminApplication/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SpyWcfService.Messages" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SpyWcfService" />
  <xs:element name="SaveScreenShotToDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpyWcfService.Messages" minOccurs="0" name="request" nillable="true" type="q1:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScreenShotToDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveScreenShotToDBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreenFromDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreenFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetScreenFromDBResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreenByIdFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreenByIdFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetScreenByIdFromDBResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreenCountFromDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreenCountFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetScreenCountFromDBResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagesGroupFromDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagesGroupFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="GetPagesGroupFromDBResult" nillable="true" type="q2:ArrayOfAcceptablePagesGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceptablePageFromDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceptablePageFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="GetAcceptablePageFromDBResult" nillable="true" type="q3:ArrayOfAcceptablePage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceptablePageForGroupFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceptablePageForGroupFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="GetAcceptablePageForGroupFromDBResult" nillable="true" type="q4:ArrayOfAcceptablePage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkstationsGroupFromDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkstationsGroupFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="GetWorkstationsGroupFromDBResult" nillable="true" type="q5:ArrayOfWorkStationsGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkstationsFromDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkstationsFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="GetWorkstationsFromDBResult" nillable="true" type="q6:ArrayOfWorkStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkstationsForGroupFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkstationsForGroupFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="GetWorkstationsForGroupFromDBResult" nillable="true" type="q7:ArrayOfWorkStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPagesGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="group" nillable="true" type="q8:AcceptablePagesGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPagesGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPagesGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAcceptablePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="page" nillable="true" type="q9:AcceptablePage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAcceptablePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAcceptablePageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAcceptablePageForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="page" nillable="true" type="q10:AcceptablePage" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="group" nillable="true" type="q11:AcceptablePagesGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAcceptablePageForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAcceptablePageForGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkstationsGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="group" nillable="true" type="q12:WorkStationsGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkstationsGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWorkstationsGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkstation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="workstation" nillable="true" type="q13:WorkStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkstationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWorkstationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkstationForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="workstation" nillable="true" type="q14:WorkStation" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="group" nillable="true" type="q15:WorkStationsGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkstationForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWorkstationForGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePagesGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="group" nillable="true" type="q16:AcceptablePagesGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePagesGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePagesGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcceptablePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="page" nillable="true" type="q17:AcceptablePage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcceptablePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAcceptablePageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcceptablePageForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="page" nillable="true" type="q18:AcceptablePage" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="group" nillable="true" type="q19:AcceptablePagesGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcceptablePageForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAcceptablePageForGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkstationGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="group" nillable="true" type="q20:WorkStationsGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkstationGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWorkstationGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkstation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="workstation" nillable="true" type="q21:WorkStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkstationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWorkstationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkstationsForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="workstation" nillable="true" type="q22:WorkStation" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SpyWcfService" minOccurs="0" name="group" nillable="true" type="q23:WorkStationsGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkstationsForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWorkstationsForGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>