SpyAdminApplication/Service References/ServiceReference1/SpyWcfService.Messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpyWcfService.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpyWcfService.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="_data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="_scrrenDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_scrrenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientRequest" nillable="true" type="tns:ClientRequest" />
</xs:schema>